* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.bold {
  font-weight: bold;
}

.size {
  font-size: 25px;
}

.height {
  line-height: 50px;
}
